In [7]:
#1: Given a Python list you should be able to display Python list in the following order
list1 = [100, 200, 300, 400, 500]
list1[::-1]

[500, 400, 300, 200, 100]

In [11]:
#2: Concatenate two lists index-wise
list1 = ["M", "na", "i", "Ke"] 
list2 = ["y", "me", "s", "lly"]
print(list1[0] + list2[0],list1[1] + list2[1],list1[2] + list2[2],list1[3] + list2[3])

My name is Kelly

In [24]:
#3: Given a Python list. Turn every item of a list into its square
list1 = [1, 2, 3, 4, 5, 6, 7]
sqrt = [x ** 2 for x in list1]
print(sqrt)

[1, 4, 9, 16, 25, 36, 49]

In [26]:
#4.
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
[x + y for x in list1 for y in list2]

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [54]:
#5: Given two Python lists. Iterate both lists simultaneously such that list1 should display 
#item in original order and list2 in reverse order
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
list2.reverse()
for x, y in zip(list1, list2):
    print(x, y)

10 400
20 300
30 200
40 100

In [59]:
#6: Remove empty strings from the list of strings
list1 = ["Mike", "", "Emma", "Kelly", "", "Brad"]
[x for x in list1 if x !=""]

['Mike', 'Emma', 'Kelly', 'Brad']

In [65]:
#7: Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
x = list1[2][2]
a = x.index(6000)
x.insert(a + 1,7000)
print(list1)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [70]:
#8: Given a nested list extend it with adding sub list ["h", "i", "j"] 
#in a such a way that it will look like the following list
#Given List:
list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sublist = ["h", "i", "j"]
a = list1[2][1][2]
a.extend(sublist)
print(list1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [73]:
#9: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. 
#Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
a = 20 
b = 200


c = None
for i, value in enumerate(list1):
    if value == a:
        c = i
        break
        
        
if c is not None:
    list1[c] = b
    
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [75]:
#10: Given a Python list, remove all occurrence of 20 from the list
list1 = [5, 20, 15, 20, 25, 50, 20]
a = 20 
[x for x in list1 if x != a]

[5, 15, 25, 50]