# Objects and Data Structures Assessment Test

## Test your knowledge.

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:

Strings:

Lists:

Tuples:

Dictionaries:

In [ ]:
#Numbers=There are three numeric types in Python: int,float,complex.

In [ ]:
#Strings=a collection of alphabets, words or other characters

In [ ]:
#Lists=an ordered and changeable collection of data objects

In [ ]:
#Tuples= an immutable object, which means it cannot be changed, and we use it to represent fixed collections of items.

In [ ]:
#Dictionaries=mutable data structures that allow you to store key-value pairs.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [ ]:
((5**2)*4/4+76-0.75)

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5
    
    What is the value of the expression 4 + 6 * 5

In [ ]:
4*(6+5)

44

In [ ]:
4*6+5

29

In [ ]:
4+6*5

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>

In [ ]:
3+1.5+4

8.5

What would you use to find a numberâ€™s square root, as well as its square?

In [ ]:
# Square root:
math.sqrt()

In [ ]:
# Square:
pow(a,b)

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [ ]:
s = 'hello'
# Print out 'e' using indexing
s[1::4]

'e'

Reverse the string 'hello' using slicing:

In [ ]:
s ='hello'
# Reverse the string using slicing

s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [ ]:
s ='hello'
# Print out the 'o'

# Method 1:

s[-1::-5]

'o'

In [ ]:
# Method 2:
s[4::1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [ ]:
# Method 1:
list=[0,0,0]
list

[0, 0, 0]

In [ ]:
# Method 2:
list=[0,0,0]
print (list)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [ ]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [ ]:
list4 = [5,3,4,6,1]

print(list4)
list4.sort()
print(list4)
list4 = [5,3,4,6,1]
print (sorted(list4))
print (list4)

[5, 3, 4, 6, 1]
[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6]
[5, 3, 4, 6, 1]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [ ]:
d = {'simple_key':'hello'}
# Grab 'hello'
print (d['simple_key'])

hello

In [ ]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print (d['k1']['k2'])

In [ ]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print (d['k1'][0]['nest_key'][1][0])

hello

In [ ]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print (d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?<br><br>

In [ ]:
#To sort a dictionary by value in Python you can use the sorted() function.
#Python's sorted() function can be used to sort dictionaries by key, which allows for a custom sorting method.
#sorted() takes three arguments: object, key, and reverse. Dictionaries are unordered data structures.

## Tuples

What is the major difference between tuples and lists?<br><br>

In [ ]:
#tuple has fixed value but can not modify like append,insert,clear in way list can perform it

How do you create a tuple?<br><br>

In [ ]:
#we can create tuple by putting curved brackets

## Sets

What is unique about a set?<br><br>

In [ ]:
#set gives unique value and don't print duplicate value

Use a set to find the unique values of the list below:

In [ ]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [ ]:
# Answer before running cell
2 > 3
#false

In [1]:
# Answer before running cell
3 <= 2
#false

False

In [2]:
# Answer before running cell
3 == 2.0
#false

False

In [3]:
# Answer before running cell
3.0 == 3
#true

True

In [4]:
# Answer before running cell
4**0.5 != 2
#false

False

Final Question: What is the boolean output of the cell block below?

In [5]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
#       3,4  >= 4
#        false

False

## Great Job on your first assessment!